body{
  max-width: 1366px;
  background-color: transparent !important;
}
html{
  background-color: #C9DCFF;
}

/* Navbar Styling starts here */
header>div>div{
  display: flex;
  justify-content: center;
}
header{
  z-index: 1000;
  top: 5px;
  left: 5%;
  position: fixed;
  width: 90%;
  height: 72px;
  padding: 12px;
  border-radius: 22px;
  background: rgba(255, 255, 255, 0.10);
  backdrop-filter: blur(5px);
}
.nav-links>li>a{
  color: #282828;
  text-align: center;
  font-family: Archivo;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.nav-links>li>a:hover{
  color: #707070;
}
.btn-s{
  text-decoration: none;
  text-align: center;
  color: #4D74BD;
  font-family: Archivo;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  padding: 11.5px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 2px solid #4D74BD;
  background-color: transparent;
}
.btn-p{
  text-decoration: none;
  text-align: center;
  color: #fff;
  font-family: Archivo;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  padding: 11.5px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  border-radius: 20px;
  background: #1E1E1E;
}


/* Hero section styling starts here */
.hero-heading{
  color: #0D1C5F;
  font-family: Archivo;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px;
}
p.greeting{
  color: #4D74BD;
  font-family: Archivo;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.btn-hero{
  border-radius: 10px;
  color: #fff;
}
.img-hero{
  width: 505px;
}
a.btn-hero{
  margin-top: 20px;
}


/* About us Section styling */
.abt-heading{
  color: #282828;
  text-align: center;
  font-family: Archivo;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.abt-heading>span{
  font-weight: 800;
  background: var(--vvv, linear-gradient(93deg, #FF7924 -8.86%, #708AFF 117.73%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.about-block-wrap{
  display: flex;
  margin-top: 40px;
  justify-content: space-between;
  row-gap: 20px;
}
.about-us>div>div.cont-box{
  width: calc(50% - 10px);
  padding: 25px 20px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.20);
}
.about-us>div>div>h4, .about-block>h4{
  margin-top: 16px;
  color: #1E1E1E;
  font-family: Archivo;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.about-us>div>div>h4>span, .about-block>h4>span{
  color: #4D74BD;
  font-weight: 700;
}
.about-us>div>div>p{
  color: rgba(40, 40, 40, 0.60);
  font-family: Archivo;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 20px */
  letter-spacing: 0.8px;
}
.about-block{
  padding: 25px 20px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.20);
}
.about-block>img{
  margin-top: 30px;
}


/* Blockchain styling starts here */
.blockchain>div>h5, .achievement-content>h5{
  font-family: Archivo;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;

  background: var(--vvv, linear-gradient(93deg, #FF7924 -8.86%, #708AFF 117.73%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.blockchain>div>h2, .achievement-content>h2{
  color: #282828;
  font-family: Archivo;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px; /* 120% */
}
.blockchain-images{
  gap: 10px;
  row-gap: 10px;
}


/* Testmonial section styling starts here */
.Testmonial-content>p{
  margin-top: 4px;
  color: rgba(40, 40, 40, 0.60);
  font-family: Archivo;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.feedback>h4{
  color: #282828;
  font-family: Archivo;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}
.feedback>div{
  margin-top: 40px;
  float: right;
  row-gap: 10px;
}
.feedback>div>a>img{
  height: 48px;
}


/* Contact form Styling starts here */
.Contact{
  height: fit-content;
}
.Contact>h2{
  padding-top: 50px;
  width: 500px;
  font-family: Archivo;
  font-size: 56px;
  font-style: normal;
  font-weight: 800;
  line-height: 64px;
  background: var(--vvv, linear-gradient(93deg, #FF7924 -8.86%, #708AFF 117.73%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.Contact>form>h6{
  width: 90% !important;
  color: #282828;
  font-family: Archivo;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 45px;
}
.Contact>form>h6>input.Form-input{
  font-size: 20px;
  padding-left: 10px;
  font-weight: 700;
  border: none;
  background: rgba(255, 255, 255, 0.50);
  width: 320px;
  height: 36px;
  border-bottom: 2px solid #707070;
}
input.Form-input:focus{
  outline: none;
}
input.Form-input::placeholder{
  font-size: 16px;
}



/* Partner Section styling starts here */
.Partners{
  height: 400px;
}
.Partners>h4{
  width: 70%;
  color: #282828;
  font-family: Archivo;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px;
}
.Partners>h4>span{
  background: var(--vvv, linear-gradient(93deg, #FF7924 -8.86%, #708AFF 117.73%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700px;
}
.partner-ill{
  position: relative;
  top: -340px;
  left: 500px;
}
.partner-wrap>img{
  padding-right: 10px;
}


/* Footer section styling starts here */
footer{
  background-color: #282828;
  padding: 40px 120px;
}
footer>div>div>p{
  margin-top: 12px;
  color: rgba(207, 207, 207, 0.60);
  font-family: Archivo;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px
  letter-spacing: 0.6px;
}
footer>div>div>img{
  display: block !important;
}
footer>div{
  justify-content: space-between;
}
.cubes{
  height: 250px;
}
footer>div>p{
  color: #FFF;
  font-family: Archivo;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 125%;
  letter-spacing: 0.6px;
}
footer>div>p>a, .footer-links>a{
  color: #C9DCFF;
}

.footer-links>a{
  margin-left: 10px;
  font-family: Archivo;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 125%;
  letter-spacing: 0.6px;
}





/* Responsive designs starts here */
@media only screen and (max-width:1024px){
  .partner-ill{
    display: none;
  }
  .Contact{
    height: auto;
  }
  .Contact>h2{
    width: 400px;
    margin-right: 20px;
  }
  .achievement>img{
    margin-top: 40px !important;
  }
  .testmonials{
    justify-content: space-evenly;
  }
}
@media only screen and (max-width:820px){
  .partner-ill{
    display: none;
  }
  header{
    width: unset;
  }
  ul{
    display: none !important;
  }
  header>div>div{
    gap: 290px;
  }
  .blockchain {
    flex-direction: column;
  }
  .blockchain-images{
    margin-top: 40px;
  }
  .blockchain-images>img{
    width: 150px;
  }
  .testmonials {
    margin-left: unset;
    gap: 20px;
  }
  .feedback>h4{
    font-size: 18px;
  }
  .Contact{
    flex-direction: column;
    height: unset;
  }
  .Contact>form>h6{
    margin-top: 20px;
  }
  .img-hero{
    width: 600px;
  }
  .achievement{
    display: block;
  }
  footer{
    padding: 30px 60px;
  }
  header>div>div>div.text-end{
    display: flex;
    width: fit-content;
  }
  header>div>div>div.text-end>a{
    width: max-content;
  }
}


@media only screen and (max-width:390px){
  header{
    width: 90%;
  }
  header>div>div{
    gap: unset !important;
  }
  header>div>div>div>a.btn-s{
    display: none;
  }
  header>div>div>div>a.btn-p{
    font-size: 12px;
    width: 120px;
  }
  .about-block-wrap{
    flex-direction: column;
  }
  .about-us>div>div.cont-box{
    width: 100%;
  }
  .blockchain-images>img{
    width: 120px !important;
  }
  .blockchain-images{
    margin-top: 40px;
    width: auto;
  }
  .achievement{
    display: flex;
    flex-direction: column-reverse;
    margin-top: 0px !important;
  }
  .testmonials{
    display: flex;
    flex-direction: column;
  }
  .Contact{
    display: flex;
    flex-direction: column;
  }
  .partner-wrap>img{
    width: 100px;
  }
  footer{
    padding: 20px 30px;
  }
  .cubes{
    display: none;
  }
  .footer-logo>img{
    width: 120px !important;
    height: auto;
  }
  .footer-l{
    margin-top: 80px;
    flex-direction: column-reverse;
    text-align: center;
    gap: 20px;
  }
  .img-hero{
    margin-top: 60px;
  }
  .hero-heading {
    font-size: 44px;
    line-height: 56px;
    width: 100% !important;
  }
  .abt-heading{
    font-size: 26px;
  }
  .blockchain>div>h5, .achievement-content>h5 {
    font-size: 18px;
  }
  .blockchain>div>h2, .achievement-content>h2{
    font-size: 32px;
    line-height: 40px;

  }
  .Contact>h2{
    font-size: 44px;
    line-height: 56px;
    width: auto;
    margin-bottom: 30px;
  }
  .Partners>h4{
    width: auto;
    font: 32px;
    line-height: 44px;
  }
  .footer-logo>img{
    display: block !important;
  }
}

@media only screen and (max-width:500px){
  .hero-heading{
    width: 100% !important;
  }
  header>div{
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  header>div>div{
    gap: 100px;
    justify-content: space-between;
  }
  header>div>div>div>a.btn-s{
    display: none;
  }
  .hero-cont{
    width: 90%;
  }
  .about-block-wrap{
    flex-direction: column;
  }
  .about-us>div>div.cont-box{
    width: 100%;
  }
  .blockchain-images>img{
    width: 100px;
  }
  .blockchain-images{
    margin-top: 40px;
    width: auto;
  }
  .achievement{
    display: flex;
    flex-direction: column-reverse;
    margin-top: 20px;
  }
  .testmonials{
    display: flex;
    flex-direction: column;
  }
  .Contact{
    display: flex;
    flex-direction: column;
  }
  .partner-wrap>img{
    width: 100px;
  }
  .cubes{
    display: none;
  }
  footer>div>div>img{
    height: 30px;
  }
  .footer-l{
    margin-top: 80px;
    flex-direction: column-reverse;
    text-align: center;
    gap: 20px;
  }
  .img-hero{
    margin-top: 60px;
  }
}


@media only screen and (max-width:768px){
  .partner-ill{
    display: none;
  }
  body{
    overflow-x: hidden;
  }
  p.greeting{
    font-size: 24px;
  }
  .hero-heading{
    width: 70%;
  }
  .blockchain-images>img{
    width: 140px;
  }
  .blockchain{
    flex-direction: column;
  }
  .blockchain-images{
    margin-top: 40px;
    width: auto;
  }

}